// Datepicker

.datepicker-textinput {
  margin-right: 1em;
}

.picker__input {
  height: 0 !important;
  width: 0 !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.btn.datepicker-toggle {
  display: inline-block;
  float: none;
}

button[disabled] {
  &.picker__button--today, &.picker__button--clear {
    border: none;
    &:after {
      content: "";
    }
  }
}

// Height was wrong because of border-box setting
.picker__nav--prev, .picker__nav--next {
  @include box-sizing(initial);
}