@import 'classic';
@import 'classic.date';

@import 'vendor/bourbon/bourbon';
@import 'mixins/css3';
@import 'default-settings';

$va-red: #D1232A;
$va-blue: #0064A1;

$login-background:  $body-background;
$login-color:       $base-color;

$button-primary-background-color: $va-blue;

$label-blue:    $va-blue;
$badge-color:   $va-red;

@import 'vendor/normalize';
@import 'base/icomoon';
@import 'base/fonts';
@import 'base/typography';
@import 'layout/grid';
@import 'modules/lists';
@import 'modules/nav';
@import 'modules/badges';
@import 'modules/buttons';
@import 'modules/forms';
@import 'modules/datepicker';
@import 'modules/alerts';
@import 'modules/modals';
@import 'modules/pagination';
@import 'modules/tooltip';
@import 'modules/loading-clock';

@import 'portal/layout/portal';
@import 'portal/layout/login';
@import 'portal/modules/dashboard';
@import 'portal/modules/indexes';
@import 'portal/modules/maps';
@import 'portal/modules/messages';
@import 'portal/modules/posts';
@import 'portal/modules/portal-misc';
@import 'portal/modules/old-survey';

@include font-face(icomoon, '../font/icomoon');

.login-footer-content {
  color: #000;
}

a.index-link.unread:before {
  background: $va-red;
}